<!-- carousel  -->
<div class="container-fluid">
  <div id="carouselExampleDark" class="carousel slide justify-content-center" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
    </div>
    <div class="carousel-inner text-warning">
      <div class="carousel-item active" data-bs-interval="10000">
          <img src="../static/img/sliderimg1m.png" class="mt-5">
      </div>
    </div>
  </div>
</div>
<!-- carousel done -->
