<!-- navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"><img src="../static/img/logo-sml.png" width="100"
                alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'menu' %}">Menu</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        User
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_authenticated %}
                        <li><a class="dropdown_item" href="{% url 'displaycart' %}">Shopcart
                                {% if cartread > 0 %}
                                <span class="badge rounded-pill bg-warning text-dark">{{cartread}}</span>
                                {% else %}
                                <span class="badge rounded-pill bg-warning text-dark">0</span>
                                {% endif %}
                            </a></li>
                        <li><a class="dropdown_item" href="{% url 'profile' %}">Profile</a></li>
                        <li><a class="dropdown_item" href="{% url 'signout' %}">Signout</a></li>
                        {% else %}
                        <li><a class="dropdown_item" href="{% url 'signup' %}">Signup</a></li>
                        <li><a class="dropdown_item" href="{% url 'signin' %}">Signin</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services' %}">Services</a>
                </li>
            </ul>
            <div class="d-grid order border-start">
                <p class="ms-2">Order Now</p>
                <a href="#" class="ordern ms-2">+234-907-4248262</a>
            </div>
        </div>
    </div>
</nav>
{% if messages %}
{% for item in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{item}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
  
  <!-- navbar done -->
  